*.class

src/golite/parser/
src/golite/lexer/*
!src/golite/lexer/GoliteLexer.java
src/golite/node/ 
src/golite/analysis/ 
grading/
grading.sh
*.pretty.go 
*.symbol.txt
GoLite*.java 
.DS_Store
src/.DS_Store